<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712300422241-mu1jcohf0e8kgvdgvpqie36oq833n27v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712300422241-mu1jcohf0e8kgvdgvpqie36oq833n27v</string>
	<key>API_KEY</key>
	<string>AIzaSyDLRN8A9isJU8RqwMvQYHdyPWFNg9DB19A</string>
	<key>GCM_SENDER_ID</key>
	<string>712300422241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinder</string>
	<key>PROJECT_ID</key>
	<string>dinder-e2ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>dinder-e2ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712300422241:ios:f60fc87db33b0afba5b620</string>
</dict>
</plist>